{{#each board as |row rowIndex|}}
  <div class='row'>
    {{#each row key="@index" as |cell cellIndex|}}
      {{game-cell cell=cell}}
    {{/each}}
  </div>
{{/each}}

<p>
  <button {{action 'step'}}>STEP</button>
</p>

<p>
  {{#if playing}}
    <button {{action 'pause'}}>PAUSE</button>
  {{else}}
    <button {{action 'play'}}>PLAY</button>
  {{/if}}
</p>

{{outlet}}
